{% extends "postgis_app/base.html" %}
{% load static %}
{% block title %}
    Все полигоны
{% endblock %}

{% block content %}
    <div class="d-flex flex-column mt-5 w-100">
        <div class="d-flex text-36px-bold mt-5">
            Все полигоны
        </div>
        <div class="d-flex mt-3">
            <table id="all-print-tasks" class="table table-hover">
                <thead>
                <tr>
                    <th class="th_tables" scope="col" style="width: 25px">#</th>
                    <th class="th_tables" scope="col" style="text-align: left;">Название полигона</th>
                    <th class="th_tables" scope="col" style="text-align: center; width: 100px;">Антимередиан</th>
                </tr>
                </thead>

                <tbody id="table_inside">
                {% for polygon in polygons %}
                    <tr class="tr-tables" style="cursor: context-menu;" onclick="location.href='{% url 'map' pk=polygon.id %}'">
                        <th class="th_tables" scope="row" style="width: 25px">{{ forloop.counter }}</th>
                        <td class="td_tables" style="text-align: left">
                            {{ polygon.name_of_polygon }}</td>
                        <td class="td_tables" style="width: 100px; text-align: center">
                            {{ polygon.antimeridian }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
