<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'postgis_app/Bootstrap-5-5.1.3/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "postgis_app/css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'postgis_app/css/style_sidebar.css' %}"/>

    <script type="text/javascript" src="{% static 'postgis_app/jQuery-3.6.0/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'postgis_app/Bootstrap-5-5.1.3/js/bootstrap.bundle.js' %}"></script>

</head>
<body class="content-fade">
{% include "postgis_app/sidebar.html" %}
<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>