{% load static %}


<div>

    <nav class="main-menu">
        <ul>
            <li>
                <a href="{% url 'index' %}" style="vertical-align: top">

                    <i class="fa">
                        <div class="icon-pen "></div>
                    </i>

                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                           Добавить полигон
                        </span>
                </a>

            </li>


            <li>
                <a href="{% url 'all-polygons' %}">
                    <i class="fa">
                        <div class="icon-plane"></div>
                    </i>
                    <span class="nav-text text-menu-sidebar" style="text-transform: uppercase">
                            Посмотреть полигоны
                        </span>
                </a>
            </li>
        </ul>


    </nav>
    <script type="text/javascript">
    </script>
</div>