.content-fade {
    scroll-behavior: smooth;
    animation: fade-in 0.7s ease-in-out;
    transition: opacity 0.5s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}